/********************************************************************************************************************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/********************************************************************************************************************************************************************/

/*********************************************************************WATER PARK OPEN**********************************************************************************/

.water-content {
    border: 1px solid #CCC;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    padding: 6xpx;
    font-family: 'Milonga', cursive;
}
.water-content h1 {
    font-family: 'Cedarville cursive';
}
.water-images {
    padding: 10px;
    text-align: center;
    display: flex;
}
.w-images {
    flex: 1;
    text-align: center;
    margin: 2px;
}
.container  h1
{
    text-align: center;
}


@media (max-width:500px) {
    .water-images {
        flex-direction: column;
    }
    .w-images {
        width: 450px;
        height: 300px;
        margin: 10px;
        flex: 1;
    }
    .padding {
        text-align: center;
        margin: 10px;
    }
    
}
.footer {
    margin: 10px;
    padding: 5px;
    text-align: center;
    background: #CCC;
    color: #000;
}

/***********************************************************MEDIA QUERIES FOR WATER PARK.HTML AND WATER PARK.HTML CLOSE!*********************************************/
